{% extends 'base.html.twig' %}

{% block title %}Hello AdsController!{% endblock %}

{% block ads %}
<style>
    .div1 {
        margin-top: 125px;
        margin-left: 210px;
        text-align: center;
        position: relative;

        width: 730px;

    }

    .product {
        height: 20vh;
</style>
    <style>
        table {
            border-collapse: collapse;
            margin: 0;
            width: 730px;
        }
        th,
        td {
            border: 1px solid black;
            padding-bottom: 12px;
    </style>
    <table class="div1">
        <thead>
        <tr>
            <th>
                <select>
                    <option value="Төрөл">Эд анги</option>
                    <option value="Processor">Processor</option>
                    <option value="GPU">GPU</option>
                    <option value="ram">RAM</option>
                    <option value="Motherboard">Motherboard</option>
                    <option value="Harddrive">Harddrive</option>
                    <option value="psu">PowerSupply</option>
                    <option value="cooler">Cooler</option>
                </select>
            </th>
            <th>
                <select>
                    <option value="Брэнд">Брэнд</option>
                    <option value="amd">Amd</option>
                    <option value="intel">intel</option>
                </select>
            </th>
            <th>
                <select>
                    <option value="Үзүүлэлт">Үзүүлэлт</option>
                </select>
            </th>
            <th>
                <div class="year">
                    <label for="date">Он</label>
                    <input type="month" name="month" id="date" />
                </div>
            </th>
            <th>
                <div class="price">
                    <label for="number">Үнэ</label>
                    <input
                            type="number"
                            name="price"
                            id="price"
                            min="10000"
                            step="1000"
                    />
                </div>
            </th>

            <th></th>
        </tr>
        </thead>
    </table>

{% endblock %}
