<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            <link rel="stylesheet" href="/styles/style.css"/>

        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <style>
        .body {
            width: 1000px;
            margin: auto;
    </style>
    <body class = "body">
    <style>
        .main-header {
            background-color: burlywood;
            position: fixed;
            top: 0;
            width: 1000px;
            text-align: center;
            height: 75px;
            border-bottom: 2px solid black;


    </style>
    <header class="main-header">
        <h1>"Төмс" компютэрийн зарын систэм</h1>
    </header>
        {% block login %}
            <style>
                .main-div {
                    background-color: burlywood;
                    border: 1px solid black;
                    text-align: center;
                    width: 200px;
                    position: fixed;
                    top: 125px;
                    height: 250px;
                .login,
                input,
                button {
                    margin-top: 20px;
                    margin-left: 10px;

            </style>

            <nav class="main-div">
                <form action="login.html" method="GET" >
                    <h3 class="login">Нэвтрэх</h3>
                    <br>
                    <input
                            type="text"
                            name="Нэр"
                            class="name"
                            placeholder="Хэрэглэгчийн нэр"
                    />
                    <br>

                    <input
                            type="password"
                            class="password"
                            placeholder="Нууц үг"
                            required
                    />
                    <br>
                    <button type="sub">Нэвтрэх</button>
                </form>
            </nav>


        {% endblock %}
        {% block ads %} {% endblock %}

    </body>
</html>
